body {
    margin: 80px;
/border: deeppink 2px solid;
/display: block;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mainDiv {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    border: white 5px dotted;
    background: black;
    height: 400px;
    margin: 0 200px;

}

div {
    width: 25%;
    height: 25%;


}



/*

USE AS A REFERENCE
.basicDiv\'0\':hover {
    background: aliceblue;
}

*/

button {
    border-radius: 50%;
    width: 100px;
    height: 70px;
    background-color: black;
    font-family: Arial, sans-serif;
    color: white;
    margin: 25px;
}

h1 {
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: Bahnschrift, sans-serif;
}

.titleDiv {
    width: 100%;
}

